[Desktop Entry]
Encoding=UTF-8
Name=Link to Compilation — Teaching — Noam Rinetzky
Type=Link
URL=http://www.cs.tau.ac.il/~maon/teaching/2017-2018/compilation/compilation1718a.html
Icon=text-html
Name[en_US]=Compilation_Presentations
